.product{
    padding-bottom: 20px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 20px;
    &__row{
       background-color: #ffffff;
       border-radius: 10px;
       text-align: center;
       &-column3{
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #E17F1A;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        overflow: visible;
        padding: 10px;
        line-height: 25px;
        
    border-radius: 10px;
        p{
            color: #7a7a7a;
            font-family: "Roboto Condensed", Sans-serif;
            font-weight: 400;
        }
       }
    }
    &__title{
        color: #E9A33E;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    font-size: 45px;
    padding-bottom: 16px;
    padding-top: 35px;
    }
    &__img{
     padding-bottom: 30px;
    }
    &__text{
        color: #8c8c8c;
            font-family: "Nunito", Sans-serif;
            padding: 10px;
           line-height: 26px;
           padding-top: 30px;
    }
}
