.about{
background-color: #f5f5f5;
&__product{
    box-shadow: 0px 0px 10px slategrey;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    &-image{
        width: 38%;
        text-align: center;
        margin-left: 220px;
        padding-bottom: 15px;
    }
    &-title{

        h2{
            color: #E9A33E;
            text-align: center;
            font-family: "Montserrat", Sans-serif;
            font-weight: 600;
            font-size: 45px;
            padding-bottom: 15px;
        }
    }
    &-page{
    text-align: center;
    color: #7a7a7a;
    font-family: "Roboto Condensed", Sans-serif;
    font-weight: 400;
    }
    &-text{
        width: 95%;
      padding-bottom: 10px;
      line-height: 1.85714285714286;
      color: #7a7a7a;
      font-family: "Roboto Condensed", Sans-serif;
      font-weight: 400;
      margin-left: 38px;
    }
    &-wrapper{
        width: 95%;
        padding-bottom: 10px;
        line-height: 1.85714285714286;
        color: #7a7a7a;
        font-family: "Roboto Condensed", Sans-serif;
        font-weight: 400;
        margin-left: 75px;
    }
}

&__flex{
  margin-top: 86px;
  &-bottom{
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 1.6em;
    text-align: center;
  }
  &-direction{
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    width: 76%;
    margin-left: 160px;
    color: #7a7a7a;
  }
  padding-bottom: 45px;
}
&__justify{
 text-align: center;
 padding-bottom: 180px;
&-end{
  color: #E9A33E;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  line-height: 1.4;
  padding-bottom: 10px;
}

  &-title{
    color: #E9A33E;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.4;
    padding-bottom: 10px;
  }
  &-text{
    line-height: 1.85714285714286;
    color: #7a7a7a;
    font-family: "Roboto Condensed", Sans-serif;
    font-weight: 400;
    width: 265px;
  }
}
}

